extends ../../layouts/_activity

block content          
  .container
    .cube.start
      .cube__side.cube__side--front
      |       
      .cube__side.cube__side--back
        .screen
          .intro-text
            h1 Welcome to Elucidat cinema!
            p
              | Your row and seat number are displayed on the ticket below. 
              br
              | Use the plan on the top right of the screen to find your seat. 
              br
              | Hurry! The movie starts in 30 seconds.
          .ticket-wrap
            .cardWrap
              .card.cardLeft
                h1
                  | Elucidat 
                  span Cinema
                |       
                .title
                  h2 Zootopia
                  |         
                  span movie
                |       
                .name
                  h2 Alex Lloyd
                  |         
                  span name
                |       
                .seat
                  h2 5
                  |         
                  span seat
                |   
                .rowletter
                  h2 F
                  |         
                  span row
                |                      
                .time
                  h2 12:00pm
                  |         
                  span time
              |     
              .card.cardRight
                .eye
                |       
                .number.seatnumber
                  h3 5
                  |         
                  span seat
                |  
                .number
                  h3 F
                  |         
                  span row
                |                       
                .barcode
            button.btn-start Play
          img.movie(src='../../../../assets/img/movie.jpg')
      |       
      .cube__side.cube__side--left
      |       
      .cube__side.cube__side--right
      |       
      .cube__side.cube__side--top
      .rows.rows--large
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
        | 
        .row
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
          | 
          .row__seat
    .plan
      h3.plan__title Click on your seat
      |             
      .rows.rows--mini
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat.answer
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
        |             
        .row
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
          |             
          .row__seat
      // /rows
      |             
      button.cta.cta-plan Go to seat
    // /plan
