doctype html
html(lang="en")
  head
    title Elucidat
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')

    // build:css /styles/main.css
    link(href='../../../../stylesheets/sections/activity.css', rel='stylesheet')
    //link(rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    // endbuild

  body(class=page)
    #wrapper
      header

      block content


    
    script(src='../../../../bower_components/jquery/dist/jquery.js')
    
    script(src='../../../../scripts/main.js')
    // endbuild
